{% extends '_base.html' %}
{% block title %}Register{% endblock%}
{% block content %}
{% include '_navbar.html' %}
<div class="container py-5">
	{% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
              {{ message }}
          </li>
          {% endfor %}
      </ul>
    {% endif %}
	
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form.as_p}}                    
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>
{% endblock %}