{% extends '_base.html' %}

{% block title %}{{movie.title}} | {{APP_NAME}}{% endblock %}

{% block content %}

{% include '_navbar.html' %}


<div class="container">
    <div id="alerts"></div>
    <div class="row">
        <div class="col-md">
            <img src="https://picsum.photos/seed/{{movie.pk}}/400/600" class="img-fluid" alt="movie poster">
        </div>

        <div class="col-md">
            <h1>{{movie.title}}</h1>
            <div>
                <h4>Description</h4>
            
                <p>{{movie.description}}</p>

                <hr>
                {% if movie.getDirector %}
                    <h4>Director</h4>
                    <span class="lead">{{movie.getDirector.director}}</span>
                    <hr>
                {% endif %}

                <h4>Release date</h4>
                <span class="lead">{{movie.release_date}}</span>

                <hr>
                <h4>Rating</h4>
                
                    <div class="row">
                        <div class="col">
                            <h3 class="text-center">{{movie.avgRating}}</h3>
                        </div>
                        <div class="col">

                            <span class="text-center">(based on {{movie.countRating}} ratings)</span>

                            <div>
                                <span>
                                    {{ratingForm}}
                                    <button class="btn btn-primary btn-sm" id="buttonRate">Rate</button>
                                    <div id="spinner"></div>
                                </span>
                            </div>

                        </div>
                    </div>
                    
                <hr>
                {% if movie.getMovieShowTime %}
                <h4>Available dates</h4>
                
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Available tickets</th>
                            <th scope="col">Ticket price</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for date in movie.getMovieShowTime %}
                                <tr>
                                    <th scope="row">{{date.date}}</th>
                                    <td>{{date.countAvailable}}</td>
                                    <td>{{movie.price}}</td>
                                    <td>
                                        {% if date.countAvailable > 0 %}
                                            <button class="btn btn-primary ticketBtn" data-dateID="{{date.pk}}" data-dateString="{{date.date}}">Buy ticket</button>
                                        {% else %}
                                            victim of success
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                
                </h4>
            </div>
            
            

        </div>
        
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="buyTicketModal" tabindex="-1" aria-labelledby="buyTicketModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="buyTicketModalLabel">Buy ticket</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Do you want to buy ticket for movie "{{movie.title}}" on <span id="modalDate"></span>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="buyTicketBtnConfirm">Confirm</button>
        </div>
      </div>
    </div>
  </div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        alerts = document.getElementById("alerts");
        spinner = document.getElementById("spinner");
        var dateID;

        [...document.querySelectorAll('.ticketBtn')].forEach(function(item) {
            item.addEventListener('click', function() {
                document.getElementById("modalDate").innerHTML = item.getAttribute("data-dateString");
                showModal();
                dateID = item.getAttribute("data-dateID");
                // console.log(item.getAttribute("data-dateID"));
            });
        });

        function showModal(){
            var myModal = new bootstrap.Modal(document.getElementById("buyTicketModal"), {});
            myModal.show();
           
        }
        
        function hideFunc() {
            const buyTicketModal = document.querySelector('#buyTicketModal');
            const modal = bootstrap.Modal.getInstance(buyTicketModal);    
            modal.hide();
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        document.getElementById('buyTicketBtnConfirm').addEventListener('click', buyTicket, true);
        function buyTicket(){
            spinner.innerHTML = '<div class="spinner-border" role="status">';

            fetch("{% url 'core:buyMovieTicket' %}", {
                method: "POST",
                headers: {'X-CSRFToken': csrftoken},
                body: JSON.stringify({
                    movieID: '{{movie.id}}',
                    dateID: dateID
                })
            })
            .then(res => res.json())
            .then(res => {
                spinner.innerHTML = '';
                if(res['success'] == true){
                    alerts.innerHTML = '<div class="alert alert-success" role="alert">Ticket purchase was successful!</div>';
                    
                } else {
                    if(res['reason'] == "Movie not found"){
                        alerts.innerHTML = '<div class="alert alert-danger" role="alert">Movie was not found</div>';
                    } else if(res['reason'] == "No more tickets are available"){
                        alerts.innerHTML = '<div class="alert alert-warning" role="alert">No more tickets are available</div>';

                    } else {
                        alerts.innerHTML = '<div class="alert alert-warning" role="alert">Unexpected error, please try again</div>';
                    }
                }
                console.log(res);
                hideFunc();
            })
        }

        document.getElementById('buttonRate').addEventListener('click', sendFeedback, true);

        function sendFeedback(){
            rating = document.getElementById("id_rating");
            movieID = '{{movie.id}}';
            spinner.innerHTML = '<div class="spinner-border" role="status">';

            fetch("{% url 'core:rateMovie' %}", {
                method: "POST",
                headers: {'X-CSRFToken': csrftoken},
                body: JSON.stringify({
                    rate: rating.value,
                    movieID: movieID
                })
            })
            .then(res => res.json())
            .then(res => {
                spinner.innerHTML = '';
                if(res['success'] == true){
                    alerts.innerHTML = '<div class="alert alert-success" role="alert">Your feedback was succefully saved!</div>';
                } else {
                    if(res['reason'] == "this user already rated that movie"){
                        alerts.innerHTML = '<div class="alert alert-warning" role="alert">You already left a feedback for that movie!</div>';
                    } else if(res['reason'] == "user is not authenticated"){
                        alerts.innerHTML = '<div class="alert alert-warning" role="alert">You need to be log in to vote</div>';
                    } else {
                        alerts.innerHTML = '<div class="alert alert-warning" role="alert">Unexpected error, please try again</div>';
                    }
                }
                console.log(res);
            })
            console.log(movieID);
        }
    })
</script>
{% endblock %}