{% extends '_base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{movie.title}}</h1>

            <p>Description:<br>
                {{movie.description}}
            </p>
            <p>Released: {{movie.release_date}}</p>
            <p>Ratings: </p>

            <p>Ticket price: {{movie.price}}</p>
            <a href="{% url 'core:buyMovieTicket' movie.id %}"><button class="btn btn-primary">Buy ticket</button></a>
        </div>
    </div>

</div>
{% endblock %}