{% extends '_base.html' %}
{% block title %}Theaterapp{% endblock %}
{% block content %}

{% include '_navbar.html' %}
<div class="container">

    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
              {{ message }}
          </li>
          {% endfor %}
      </ul>
    {% endif %}
    {% if movies %}
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"></th>
              <th scope="col">Title</th>
              <th scope="col">Release year</th>
              <th scope="col">Rating</th>
              <th scope="col">Price</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
              {% for movie in movies %}
              <tr>
                  <th scope="row">{{movie.id}}</th>
                  <td><img src="https://picsum.photos/seed/{{movie.pk}}/40/80" class="img-fluid" alt="poster for {{movie.title}}"></td>
                  <td>{{movie.title}}</td>
                  <td>{{movie.release_date|date:"Y"}}</td>
                  <td>{{movie.avgRating}}</td>
                  <td>{{movie.price}}</td>
                  <td><a href="{% url 'core:movieDetails' movie.id %}"><button class="btn btn-primary">View</button></a></td>
              </tr>
          
              {% endfor %}
          </tbody>
        </table>

        {% if movies.has_other_pages %}
        <nav aria-label="Paginator">
          <ul class="pagination">
            {% if movies.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ movies.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in movies.paginator.page_range %}
              {% if movies.number == i %}
                <li class="page-item disabled"><span class="page-link">{{ i }}</span></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if movies.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ movies.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}

      {% else %}
        <h3 class="text-center">No movies was found</h3>
      {% endif %}
    
</div>
{% endblock %}